@model Demo.Models.HocTap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HocTap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoVaTen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
